body {
  font-family: "TT Norms";
  font-size: 16px;
  color: black;
}
a {
  color: #00ac4e;
}
*:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
header {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
header .navbar-brand {
  margin-right: 38px;
}
header nav {
  width: 100%;
  height: 100px;
}
header .dropdown-menu {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 12px;
  padding: 56px 0 0;
  position: relative;
  top: -17px;
  z-index: 12;
  margin: 0;
}
header .dropdown-menu .dropdown-item {
  font-size: 10px;
  line-height: 13px;
  color: #333333;
  padding: 9px 20px 9px 20px;
  display: flex;
  align-items: center;
}
header .dropdown-menu .dropdown-item span {
  margin-right: 8px;
  width: 20px;
  display: inline-block;
  text-align: center;
}
header .navbar-light .navbar-nav .nav-item.dropdown a {
  position: relative;
  z-index: 14;
}
header .navbar-light .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0 22px;
}
header .navbar-light .navbar-nav .nav-item:hover {
  color: #00ac4e;
}
.dropdown-toggle::after {
  display: none;
}
.menu-right {
  align-items: center;
}
.menu-right .menu-contact {
  margin-right: 35px;
}
.menu-right .menu-contact a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
.menu-right .menu-contact a img {
  margin-right: 5px;
}
.menu-right .menu-user a,
.menu-right .menu-user button {
  margin-left: 30px;
}
.menu-right .menu-user button {
  background: none;
  border: none;
  padding: 0;
}
.swiper-pagination-bullet {
  background: #c4c4c4 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 9px;
  background: white !important;
}
.home-banner {
  padding-top: 100px;
  padding-bottom: 25px;
  position: relative;
}
.home-banner .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.home-banner .block {
  position: relative;
  background: linear-gradient(180deg, #f1f1fb 0%, #ebebf5 100%);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
  border-radius: 18px;
  height: 254px;
  width: 100%;
  overflow: hidden;
  padding: 40px;
}
.home-banner .block a {
  width: 218px;
  height: 53px;
  background: #00ac4e;
  border-radius: 5px;
  display: block;
  align-items: center;
  line-height: 53px;
  text-align: center;
  margin-top: 34px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
}
.home-banner img {
  position: absolute;
  top: 0;
  right: 0;
}
.home-banner h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 31.6273px;
  line-height: 38px;
  color: #333333;
}
.home-banner p {
  font-style: normal;
  font-weight: 400;
  font-size: 19.88px;
  line-height: 24px;
  color: #828282;
}
.home-menu .container {
  overflow-x: hidden;
}
.home-menu .container .swiper-button-next:after,
.home-menu .container .swiper-container-rtl .swiper-button-prev:after {
  content: "";
  background-image: url(../img/right.svg);
  width: 14px;
  height: 24px;
}
.home-menu .container .swiper-button-next,
.home-menu .container .swiper-container-rtl .swiper-button-prev {
  right: 0;
  justify-content: flex-end;
  background: white;
}
.home-menu .container .swiper-button-prev {
  display: none;
}
.home-menu .container .swiper-button-next.swiper-button-disabled,
.home-menu .container .swiper-button-prev.swiper-button-next.swiper-button-disabled {
  display: none;
}
.home-menu .container .swiper-container-menu {
  position: relative;
  overflow: hidden;
  left: -16px;
  width: calc(100% + 16px);
}
.home-menu .container .swiper-container-menu a {
  font-family: "TT Hoves";
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  text-decoration: none;
  text-transform: uppercase;
  color: #4f4f4f;
  width: auto !important;
  padding: 8px 16px;
}
.home-menu .container .swiper-container-menu a.active {
  background: #00ac4e;
  color: white;
  border-radius: 5px;
}
.home-products {
  padding-top: 24px;
  padding-bottom: 60px;
}
.home-products .all_products {
  margin-bottom: 35px;
}
.home-products .products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-products .products-wrapper .product {
  width: 205px;
  margin-bottom: 56px;
}
.home-products .products-wrapper .product-img {
  background-image: url(../img/product.jpeg);
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  height: 125px;
  overflow: hidden;
}
.home-products .products-wrapper .product-title {
  margin: 19px 0 5px;
  display: block;
  font-family: "TT Norms Pro";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.home-products .products-wrapper .product-description {
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 8px;
}
.home-products .products-wrapper .product .rating span {
  background: url(../img/star.svg);
  width: 13px;
  height: 13px;
  display: inline-block;
}
.home-products .products-wrapper .product .rating span.active {
  background: url(../img/star-green.svg);
}
.home-products .products-wrapper .product .price b {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-right: 18px;
}
.home-products .products-wrapper .product .price span {
  font-size: 12x;
  line-height: 23px;
  color: #828282;
}
.home-products .products-wrapper .product a.to-cart {
  margin-top: 13px;
  width: 140px;
  line-height: 38px;
  background: #00ac4e;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  display: inline-block;
}
.home-products .products-wrapper .product a.to-cart:hover {
  text-decoration: none;
}
.home-products .pagination-block {
  display: flex;
  justify-content: center;
  margin-top: -7px;
}
.home-products .pagination-block ul {
  margin-bottom: 0;
}
.home-products .pagination-block ul li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  width: 41px;
  height: 41px;
  border-radius: 5px;
  text-align: center;
  background-color: none;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-products .pagination-block ul li.active a {
  background: #00ac4e;
  color: white;
  margin: 0 10px;
}
.home-video .video-hardcore {
  width: 1440px;
  margin: 0 auto;
  background-image: url(../img/videobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-video .embed-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 648px;
}
.home-video .play_yt {
  position: relative;
  cursor: pointer;
}
.delivery {
  padding: 60px 0;
}
.delivery .block {
  width: 100%;
  height: 254px;
  background: #f2f2f2;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
  border-radius: 18px;
  padding: 30px 0 30px 40px;
  background-image: url(../img/bus.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.delivery .block .title {
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}
.delivery .block a {
  width: 171px;
  height: 52px;
  background: #00ac4e;
  border-radius: 4px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: 53px;
  margin-top: 34px;
}
footer {
  padding: 34px 0;
  background: #00ac4e;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: none;
  color: #fff;
}
footer .footer-bottom {
  margin-top: 12px;
  font-size: 12px;
  line-height: 32px;
  font-family: "TT Hoves";
}
footer .footer-bottom a {
  font-size: 12px;
  line-height: 32px;
  margin-left: 32px;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .footer-left .phones {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .footer-left .phones .phone-item {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
footer .footer-wrapper .footer-left .phones .phone-item:last-child {
  margin-right: 0;
}
footer .footer-wrapper .footer-left .phones .phone-item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}
footer .footer-wrapper .footer-left .phones .phone-item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
}
footer .footer-wrapper .footer-left .phones .phone-item a:hover {
  text-decoration: none;
}
footer .footer-wrapper .footer-left .work-time {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  margin: 10px 0;
  color: #ffffff;
}
footer .footer-wrapper .footer-left .work-email {
  display: flex;
  flex-direction: column;
}
footer .footer-wrapper .footer-left .work-email a {
  font-size: 18px;
  line-height: 32px;
}
footer .footer-wrapper .footer-left .work-email a.site-help {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-top: 15px;
}
footer .footer-wrapper .footer-center .social {
  display: flex;
  flex-direction: column;
}
footer .footer-wrapper .footer-center .social a {
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 3px;
  font-variant: small-caps;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 26px;
}
footer .footer-wrapper .footer-right .person a {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
}
footer .footer-wrapper .footer-right .person a img {
  margin-right: 7px;
}
.green_btn {
  background: #00ac4e;
  border-radius: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 38px;
}
.green_btn:hover {
  text-decoration: none;
  color: #fff;
}
.default_btn {
  border-radius: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #00ac4e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.default_btn img {
  margin-left: 9px;
  position: relative;
  top: 1px;
}
.default_btn:hover {
  text-decoration: none;
  color: #00ac4e;
}
.page-content {
  padding: 45px 0 60px;
}
.page-content h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 25px;
}
.page-content p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #828282;
}
